@font-face {
  font-family: "Neris Black Italic";
  src: url("../fonts/neris.black-italic.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neris Black";
  src: url("../fonts/neris.black.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neris Bold Italic";
  src: url("../fonts/neris.bold-italic.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neris Semibold Italic";
  src: url("../fonts/neris.semibold-italic.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neris Semibold";
  src: url("../fonts/neris.semibold.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neris Light Italic";
  src: url("../fonts/neris.light-italic.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neris Light";
  src: url("../fonts/neris.light.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neris Thin Italic";
  src: url("../fonts/neris.thin-italic.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neris Thin";
  src: url("../fonts/neris.thin.otf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Neris Light";
}
